.pagina__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    background: rgb(234, 220, 220);
    
}
.container {
    border: 2px solid rgb(46, 196, 215);
    background: #5e5d5d;
    background-image: linear-gradient(to bottom,  #1b1b1b, #393a3afb );
    box-shadow: 0px -1px 18px 2px rgb(0, 0, 0);
    border-radius: 40px;
    width: 330px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.pagina__container {
    position: fixed;
    z-index: 1000; /* Asegurarse de que sea mayor que cualquier otro z-index */
    background-color: rgba(255, 255, 255, 0); /* Ajustar según el diseño */
    
    border-radius: 40px;
  }
.container__2 {
display: flex;
align-items: center;
color: rgb(148, 148, 148);
font-size: 15px;
}
.negro {
   width: 60px; 
   margin: 7px;
}
.pagina__title {
    font-size: 50px;
    color: rgb(148, 148, 148);
    height: 1vh;
}
.pagina___title1 {
    font-size: 130px;
    color: rgba(0, 248, 252, 0.752);
    margin: 0px;
    height: 10vh;
}
.pagina__boton {
    cursor: pointer;
  width: 150px;
  height: 35px;
  border-radius: 11px;
  background-image: linear-gradient(to bottom,  #00d3c5, #012d2ffb );
  border: none;
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 10;
  color: rgb(175, 174, 174);
}
.pagina__boton:hover {
    box-shadow: inset 0px 0px 3px 3px rgba(98, 98, 98, 0.616);/* Opcional: Cambia la sombra al pasar el cursor */
  transition: 0.1s;
  }
.espanol {
    margin: 1px;
    color: rgb(148, 148, 148);
}
.check {
    position: relative;
    width: 50px;
    height: 25px; /* Añadido para asegurar que tenga la altura correcta */
     /* Espaciado opcional para mejorar la visibilidad */
}
.check::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 25px;
    background: #202020;
    border-radius: 25px;
    border: 0.5px solid;
}
.check::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: #1b1b1b;
    border-radius: 25px;
    transition: 0.25s;
    border: 1px solid #464646;
    box-sizing: border-box;
    left: 0; /* Asegura la posición inicial */
}
.check:checked::after {
    left: 25px;
    border: 2px solid rgb(0, 161, 182);
}
.check:checked::before {
    background: rgb(0, 161, 182);
}
@media (max-width: 1500px) {
    .pagina__container {
      width: 100%;
    }
    .container {

    }
  }
  
  @media (max-width: 468px) {
     .pagina__container {
      width: 100%;
    }
    .container {
        border-radius: 10px;
        width: 260px;
        height: 130px;
    }
    .pagina__title {
        font-size: 20px;
        font-weight: 400;
    margin-top: 0;
    }
    .pagina___title1 {
        font-size: 130px;
        color: rgba(0, 248, 252, 0.752);
        margin: 0px;
        height: 10vh;
    }
    .pagina___title1 {
        font-size: 30px;
        
    }
    .pagina__boton {
        cursor: pointer;
      width: 70px;
      height: 25px;
      border-radius: 5px;
      font-size: 13px;
      font-weight: 10;
      color: rgb(209, 209, 209);
    }
    .container__2 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(148, 148, 148);
        font-size: 10px;
        margin: -10px;
        padding: -10px 10px;
        }
        .check {
            position: relative;
            width: 40px;
            height: 15px; /* Añadido para asegurar que tenga la altura correcta */
             /* Espaciado opcional para mejorar la visibilidad */
        }
        .check::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 25px;
            transition: 0.25s;
            box-sizing: border-box;
            left: 0; /* Asegura la posición inicial */
        }
        .check:checked::after {
            left: 5px;
            border: 2px solid rgb(0, 161, 182);
        }
        .check::before {
            content: '';
            position: absolute;
            width: 35px;
            height: 20px;
            background: #202020;
            border-radius: 25px;
            border: 0.5px solid;
        }
}