.acercademi__container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* O cualquier altura deseada */
}

.acercademi__container1 {
  width: 70%;
  box-shadow: 0px -1px 20px 4px rgba(7, 7, 7, 0.65);
  margin: 0 auto; /* Centrar horizontalmente */
  flex: 1; /* Ocupa todo el espacio disponible dentro del contenedor */
  color: rgb(190, 190, 190);
  font-size: 40px;
}



.acercademi__container3 {
  font-size: 25px;
   font-weight: 10;
    margin: 20px 10px; 
    color: rgb(156, 156, 156);
}

.acercademi__image1 {
   /* Puedes usar top, left, right, bottom, o valores específicos como "50% 50%" */
  overflow: hidden;
}

.acercademi__container2 {
  display: flex;
  flex-direction: column;
align-items: center;
}

.acercademi__title {
  font-size: 50px;
  font-weight: 60;
  margin-top: 130px;
}

.acercademi__1 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  overflow: hidden;
  object-position: 0px -20px; /* Puedes usar top, left, right, bottom, o valores específicos como "50% 50%" */

}

@media (max-width: 1268px) {
  .acercademi__container {
    width: 95%;
  }
}

@media (max-width: 468px) {
  .acercademi__container {
    width: 100%;
  }
  .acercademi__container1 {
    width: 97%;
  
  }
  .acercademi__title {
    font-size: 27px;
    margin-top: 70px;
  }
  .acercademi__1 {
    width: 20px;
    margin: 10px 10px;
    padding: 0px 0px;
    gap: 10px;
    
  }
  .acercademi__container3 {
    font-size: 14px;
    margin: 20px;
    margin-top: -10px;
    margin-left: -20px;
    font-weight: 60;
    text-align: center;
  }
  .acercademi__1 {
    width: 200px;
    height: 200px;
  }
}